= form_for @user, :html => {:class => 'form form-horizontal'} do |f|
  - if @user.errors.any?
    .error-summary Couldn't save the profile. There #{@user.errors.size > 1 ? "were":"was"} #{pluralize(@user.errors.size, "error")}; fix #{@user.errors.size > 1 ? "them":"it"} and try saving again.

  %div{:class => ["control-group", "#{@user.errors.has_key?(:name) ? "error" : nil}"]}
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name
      - @user.errors[:name].each do |msg|
        .error-text= msg

  %div{:class => ["control-group", "#{@user.errors.has_key?(:email) ? "error" : nil}"]}
    = f.label :email, :class => 'control-label'
    .controls
      = f.text_field :email
      - @user.errors[:email].each do |msg|
        .error-text= msg

  %div.control-group
    = f.label :nickname, "Twitter", :class => 'control-label'
    .controls
      = f.text_field :nickname, :readonly => true

  %div{:class => ["control-group", "#{@user.errors.has_key?(:url) ? "error" : nil}"]}
    = f.label :url, "Personal Website or Portfolio", :class => 'control-label'
    .controls
      = f.text_field :url
      - @user.errors[:url].each do |msg|
        .error-text= msg

  %div{:class => ["control-group", "#{@user.errors.has_key?(:company) ? "error" : nil}"]}
    = f.label :company, :class => 'control-label'
    .controls
      = f.text_field :company
      - @user.errors[:company].each do |msg|
        .error-text= msg

  %div{:class => ["control-group", "#{@user.errors.has_key?(:company_url) ? "error" : nil}"]}
    = f.label :company_url, "Company Website", :class => 'control-label'
    .controls
      = f.text_field :company_url
      - @user.errors[:company_url].each do |msg|
        .error-text= msg

  %div{:class => ["control-group", "#{@user.errors.has_key?(:city_virtual) ? "error" : nil}"]}
    = f.label :city_virtual, "City", :class => 'control-label'
    .controls
      = f.text_field :city_virtual
      - @user.errors[:city_virtual].each do |msg|
        .error-text= msg

  - if current_user && current_user.is_admin?
    %div{:class => ["control-group"]}
      .controls
        = f.check_box :is_approved
        = f.label :is_approved, "List on Dsgnrs.in"

  = submit_tag (@user.is_approved? ? "Save Profile":"Apply"), :disable_with => "Please wait...", :class => 'button'