.d1.user-cards
  - @users.each do |user|
    .user-card.vcard
      .inner
        .dp
          %a{ :href => user.twitter_profile_url,
              :title => "#{user.name} on Twitter",
              :target => "_blank" }
            %img{:src => user.image_url}
        .r
          %h3.name
            %a.url{ :href => user.url,
                :title => "Website",
                :target => "_blank" }
              %span.fn= user.name

          %p.minor<
            %a.url{ :href => user.company_url,
                :title => "Company Website",
                :target => "_blank" }
              %span.org= user.company
            - if not @city
              = " · "
              %span.adr
                %span.locality= user.city.name

            - if current_user && current_user.is_admin?
              = " · "
              = link_to "Edit", edit_user_path(user.id)

          /· Bangalore